<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.celestia.settings">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".WifiActivity"/>
        <activity android:name=".BluetoothActivity"/>
        <activity android:name=".DisplayActivity"/>
        <activity android:name=".SoundActivity"/>
        <activity android:name=".BatteryActivity"/>
        <activity android:name=".StorageActivity"/>
        <activity android:name=".PrivacyActivity"/>
        <activity android:name=".LocationActivity"/>
        <activity android:name=".SecurityActivity"/>
        <activity android:name=".AccountsActivity"/>
        <activity android:name=".AccessibilityActivity"/>
        <activity android:name=".SystemActivity"/>
        <activity android:name=".AboutActivity"/>
        <activity android:name=".CelestiaActivity"/>
        <activity android:name=".DeveloperOptionsActivity"/>
    </application>
</manifest>
